@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #f2f2f2;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

.switch-field label:hover {
    cursor: pointer;
    background-color: #e0e0e0; /* Darker background on hover */
}

.switch-field input:checked + label {
    background-color: #a5dc86;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.form {
    max-width: 270px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 1.625;
    margin: 8px auto;
    padding-left: 16px;
    z-index: 2;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.area, .location, .submit, .result {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 10px 0;
    padding: 14px;
    box-sizing: border-box;
    font-size: 16px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.area:focus, .location:focus, .submit:focus, .result:focus {
    border-color: #a5dc86;
}

.submit {
    background: #a5dc86;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.submit:hover {
    background: #8cc576;
}

.result {
    background: #dcd686;
    color: #555;
    font-weight: bold;
    cursor: default;
}

.img {
    background: url('https://wallpaperaccess.com/full/1899388.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
body, html {
  height: 100%;
}